.git
.gitignore
.vs
.vscode
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

*.nupkg
*/packages/
!**/packages/build/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.tmp
*.log
*.bak
*.cache
*.swp

.DS_Store
Thumbs.db

appsettings.Development.json
*.pfx
*.key